duckduckgo_search==5.3.1b1
einops
fastapi
gradio
janus
lmdeploy
pyvis
sse-starlette
termcolor
transformers==4.41.0
uvicorn
# lagent
arxiv
distro
filelock
func_timeout
griffe
json5
jsonschema
jupyter
jupyter_client
phx-class-registry
requests
streamlit
tiktoken
timeout-decorator
typing-extensions

google-search-results
lmdeploy>=0.2.3
pillow
python-pptx
timeout_decorator
torch
transformers>=4.34
vllm>=0.3.3
